
<!DOCTYPE html>
<html class="app-ui">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Document title -->
        <title>BP-Neutral-Network</title>

        <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
        <meta name="author" content="rustheme" />
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="../static/img/favicons/apple-touch-icon.png" />
        <link rel="icon" href="../static/img/favicons/favicon.ico" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="../static/js/plugins/slick/slick.min.css" />
        <link rel="stylesheet" href="../static/js/plugins/slick/slick-theme.min.css" />
        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="../static/css/font-awesome.css" />
        <link rel="stylesheet" id="css-ionicons" href="../static/css/ionicons.css" />
        <link rel="stylesheet" id="css-bootstrap" href="../static/css/bootstrap.css" />
        <link rel="stylesheet" id="css-app" href="../static/css/app.css" />
        <link rel="stylesheet" id="css-app-custom" href="../static/css/app-custom.css" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui layout-has-drawer layout-has-fixed-header">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Drawer -->
                <aside class="app-layout-drawer">

                    <!-- Drawer scroll area -->
                    <div class="app-layout-drawer-scroll">
                        <!-- Drawer logo -->
                        <div id="logo" class="drawer-header">
                            <a href="/index/"><img class="img-responsive" src="../static/img/logo/logo-backend.png" title="BP-Neutral-Network" alt="BP-Neutral-Network" /></a>
                        </div>

                        <!-- Drawer navigation -->
                        <nav class="drawer-main">
                            <ul class="nav nav-drawer">

                                <li class="nav-item nav-drawer-header">Functions</li>
                                <li class="nav-item active">
                                    <a href="/sin_x/"><i class="ion-ios-speedometer-outline"></i>SinX</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/X_2/"><i class="ion-ios-monitor-outline"></i> X^2</a>
                                </li>
                                  <li class="nav-item">
                                    <a href="/X1_X2/"><i class="ion-ios-monitor-outline"></i> X1+X2</a>
                                </li>

                        <!-- End drawer navigation -->
                    </div>
                    <!-- End drawer scroll area -->
                </aside>
                <!-- End drawer -->

                <!-- Header -->
                <!-- End header -->
                <main class="app-layout-content">

                    <!-- Page Content -->
                    <div class="container-fluid p-y-md">
                        <!-- Stats -->
                     <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
                    <input type="button" class="btn btn-primary" id="change1" value="开始训练">
				</h1>
			</div>
{#            <form method="GET" action="/StockTrading/" id="x" name="q">#}
		</div>
	</div>
</div>
                        <!-- .row -->
                        <!-- End stats -->

                        <div class="row">
                            <!-- Company overview Chart -->
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-header bg-blue bg-inverse">
                                        <h4>拟合图线</h4>
                                    </div>
                                    <div class="card-block p-b-0 bg-blue bg-inverse">
                                        <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard.js), for more examples please check http://www.chartjs.org/docs/ -->
                                        <div style="height: 400px;" id="chart1"></div>
                                    </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                            </div>
                            <!-- .col-lg-8 -->
                            <!-- End Company overview Chart -->
                            <!-- Weekly transactions Widget -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>参数显示</h4>
                                        </div>
                                    <div>
                                        <table class="table table-striped table-hover" id="tra">
                                        </table>
                                    </div>
                                        <!-- .card-actions -->
                                    <!-- .card-header -->
                                    <div class="card-block text-center">
                                        <span class="label bg-green m-r-xs">Statistics <i class="ion-connection-bars"></i></span>s
                                    </div>
                                </div>
                            </div>
                            <!-- .col-lg-4 -->
                            <!-- End Weekly transactions Widget -->
                        </div>
                        <!-- .row -->

                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Transactions history Widget -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Loss曲线</h4>
                                    </div>
                                    <div class="card-block text-center">
                                              <div style="height: 400px;" id="chart2"></div>
                                        <span class="label bg-green m-r-xs">Statistics <i class="ion-connection-bars"></i></span>
                                    </div>
                                </div>
                                <!-- .card -->
                                <!-- End Transactions history Widget -->
                            </div>
                            <!-- .col-lg-8 -->
                        </div>
                        <!-- .row -->

                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Yearly summary widget -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4>泛化曲线</h4>
                                        <!-- .card-actions -->
                                    </div>
                                    <!-- .card-header -->
                                    <div class="card-block text-center">
                                        <div style="height: 400px;" id="chart3"></div>
                                        <span class="label bg-green m-r-xs">Statistics <i class="ion-connection-bars"></i></span>
                                    </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Yearly summary widget -->
                            </div>
                            <!-- .col-lg-8 -->

                            <!-- Server load Widget -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header bg-purple bg-inverse">
                                        <h4>Server load</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <span class="js-flot-live-info"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block bg-purple p-x-0 p-b-0">
                                        <!-- Live Chart Container -->
                                        <div class="js-flot-live" style="height: 207px;"></div>
                                    </div>
                                </div>
                                <!-- .card -->
                            </div>
                            <!-- End Server load Widget // .col-lg-4 -->
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->

                </main>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-sm modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <!-- Apps card -->
                    <div class="card m-b-0">
                        <div class="card-header bg-app bg-inverse">
                            <h4>Apps</h4>
                            <ul class="card-actions">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="inde.html">
                                        <i class="ion-speedometer fa-4x"></i>
                                        <p>Admin</p>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                                        <i class="ion-laptop fa-4x"></i>
                                        <p>Frontend</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .card-block -->
                    </div>
                    <!-- End Apps card -->
                </div>
            </div>
        </div>
        <!-- End Apps Modal -->

        <div class="app-ui-mask-modal"></div>

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="../static/js/core/jquery.min.js"></script>
        <script src="../static/js/core/bootstrap.min.js"></script>
        <script src="../static/js/core/jquery.slimscroll.min.js"></script>
        <script src="../static/js/core/jquery.scrollLock.min.js"></script>
        <script src="../static/js/core/jquery.placeholder.min.js"></script>
        <script src="../static/js/app.js"></script>
        <script src="../static/js/app-custom.js"></script>

        <!-- Page Plugins -->
        <script src="../static/js/plugins/slick/slick.min.js"></script>
        <script src="../static/js/plugins/chartjs/Chart.min.js"></script>
        <script src="../static/js/plugins/flot/jquery.flot.min.js"></script>
        <script src="../static/js/plugins/flot/jquery.flot.pie.min.js"></script>
        <script src="../static/js/plugins/flot/jquery.flot.stack.min.js"></script>
        <script src="../static/js/plugins/flot/jquery.flot.resize.min.js"></script>

        <!-- Page JS Code -->
        <script src="../static/js/pages/index.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var data = eval({{data|safe}});
            //Draw standard chart as below
             var tj=document.getElementById("tra");
                          tj.innerHTML+='<tr ><td>'+'输入层神经元数'+'</td><td>'+data['IP']+'</td></tr>';
                          tj.innerHTML+='<tr ><td>'+'隐层层数'+'</td><td>'+data['HN']+'</td></tr>';
                           tj.innerHTML+='<tr ><td>'+'输出层神经元数'+'</td><td>'+data['OA']+'</td></tr>';
                            tj.innerHTML+='<tr><td>'+'学习率'+'</td><td>'+data['lr']+'</td></tr>';
                     tj.innerHTML+='<tr ><td>'+'迭代次数'+'</td><td>'+data['TM']+'</td></tr>';
            var trace1 = {
                x: data['standard_x'],
                y: data['verti'],
                mode: 'markers',
                type: 'scatter'
            };
            Plotly.newPlot('chart1', [trace1]);



            var postData={};



            $(function()
            {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
                Draw_Training_Chart();
            });
             function Draw_Training_Chart()
            {
                $('#change1').on('click',function(){
                    alert("ss");
                    $.ajax({
                    url: '/train_X_2/',
                    type: 'GET',
                    success: function(arg) {
                        var trace2 = {
                            x: arg['standard_x'],
                            y: arg['re_y'],
                            mode: 'markers',
                            type: 'scatter'
                        };
                        Plotly.newPlot('chart1', [trace1,trace2]);
                        var trace3 = {
                            x: arg['Gene_x'],
                            y: arg['Gene_y'],
                            mode: 'markers',
                            type: 'scatter'
                        };
                        var trace5={
                            x:arg['Gene_x'],
                            y:arg['Gene_verti'],
                            mode:'markers',
                            type:'scatter'
                        };
                        Plotly.newPlot('chart3',[trace5,trace3]);
                        var trace4={
                            x:arg['loss_x'],
                            y:arg['loss_y'],
                            mode:'markers',
                            type:'scatter'
                        };
                        Plotly.newPlot('chart2',[trace4]);
                    }
                });
                });
            }
        </script>

    </body>

</html>