{% extends 'base2.html' %}
{% load staticfiles %}
{% block title %}E-News{% endblock %}
{% block content %}
<div class="container">
  <div class="row clearfix">
     <div class="col-md-12 column">
        <h1 align="center">
           Economic News
        </h1>
        <div class="row">
           <div class="col-md-4 ">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n1.png/" %}" />
                 <div class="caption">
                    <h3>
                       Dow futures point to nearly 500-point open as US,China pause trade war
                    </h3>
                    <p>
                        Provided by CNBC LLC President Donald Trump, U.S. President Donald Trump's national security adviser John Bolton, U.S. Treasury Secretary Steven Mnuchin attend a working dinner with Chinese President Xi Jinping after the G20 leaders summit in Buenos Aires, Argentina December 1, 2018.The Dow rose 287 points, while the S&P 500 gained 1.1 percent. The Nasdaq added 1.5 percent.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/money/markets/dow-futures-imply-gain-of-nearly-500-points-at-the-open-after-trump-and-xi-agree-to-pause-us-china-trade-war/ar-BBQofF1">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n2.jpeg/" %}" />
                 <div class="caption">
                    <h3>
                       Qatar quitting OPEC means the oil cartel is now just a 'two-member organization'
                    </h3>
                    <p>
                        Provided by CNBC LLC Russia's Energy Minister Alexander Novak (L) and Saudi Arabia's Energy Minister Khalid al-Falih.The future of OPEC is on shaky ground, an analyst told CNBC on Monday, after Qatar abruptly announced it would sever ties with the influential oil cartel after six decades.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/money/markets/qatar-quitting-opec-means-the-oil-cartel-is-now-just-a-two-member-organization/ar-BBQpXny">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n3.png/" %}" />
                 <div class="caption">
                    <h3>
                       Oil Jumps Most Since June as Canada Cuts After Saudi-Russia Pact
                    </h3>
                    <p>
                       Oil was jolted higher by efforts across the globe to support prices as Saudi Arabia and Russia extended their pact to manage the market and Canada’s largest producing province unprecedented output curbs. Futures shrugged off Qatar’s departure.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/money/markets/oil-jumps-most-since-june-as-canada-cuts-after-saudi-russia-pact/ar-BBQoZBg">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n4.jpeg/" %}" />
                 <div class="caption">
                    <h3>
                       Fed concerns aren't over for the market yet
                    </h3>
                    <p>
                       Trade relations between China and the U.S. overshadow most everything as stocks enter the month of December, but in the week ahead the Fed and U.S. economy come back into play with important Fed testimony and the November employment report.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/money/markets/fed-concerns-arent-over-for-the-market-yet/ar-BBQk4Jp">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n6.jpg/" %}" />
                 <div class="caption">
                    <h3>
                       Five Hottest Cryptocurrencies Top Rated
                    </h3>
                    <p>Take a look at five top best cryptocurrencies that to consider as our selection for doing the best in the mid year 2018.
                              These cryptos all have actually strong teams, committed and interesting road-maps, while also possessing the possibility to disrupt industries and/or make a positive improvement.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://wall-street.com/five-hottest-cryptocurrencies-top-rated/">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n5.jpeg/" %}" />
                 <div class="caption">
                    <h3>
                       Bush's Economic Legacy Provides a Cautionary Tale for Today
                    </h3>
                    <p>
                       WASHINGTON—Though George H.W. Bush was president for just four years, his economic legacy on taxes, banking and trade reverberate today.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/money/markets/bushs-economic-legacy-provides-a-cautionary-tale-for-today/ar-BBQq2Se">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4">
               <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n7.jpeg/" %}" />

                 <div class="caption">
                    <h3>
                       Trump Auto Tariff Tweet Boosts Stocks, Beijing Silent
                    </h3>
                    <p>
                       President Donald Trump jolted global auto stocks on Monday with a claim that China agreed to “reduce and remove” tariffs on imported American-made cars, raising more questions about the outcome of his meeting with counterpart Xi Jinping.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/money/markets/trump-auto-tariff-tweet-boosts-stocks-beijing-silent/ar-BBQpoeA">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n8.jpeg/" %}" />
                 <div class="caption">
                    <h3>
                       Why the Heck Are Social Security Benefits Taxable?
                    </h3>
                    <p>
                       Social Security is one of the largest social programs in this country, and it's arguably the most important. While it's possible that Medicare may one day provide a greater tangible lifetime benefit than Social Security, the sheer fact that Social Security.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/money/markets/oil-jumps-most-since-june-as-canada-cuts-after-saudi-russia-pact/ar-BBQoZBg">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="thumbnail">
                 <img alt="300x200" src="{% static "/images/n9.jpeg/" %}"  />
                 <div class="caption">
                    <h3>
                       The G-20 summit was overshadowed by other news.
                    </h3>
                    <p>
                       This past weekend, President Trump was in Argentina for the Group of 20 summit. Although he signed a new trade deal with Canada and Mexico and announced a pause in the U.S.-China trade conflict.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="https://www.msn.com/en-us/news/world/the-g-20-summit-was-overshadowed-by-other-news-but-there-wasn’t-much-to-overshadow-anyway/ar-BBQqf4G">Read More</a>
                    </p>
                 </div>
              </div>
           </div>
        </div>

        <ul class="pagination">
           <li>
               <a href="/index/">Prev</a>
           </li>
           <li>
               <a href="/E_News/">1</a>
           </li>
           <li>
               <a href="/E_News/">2</a>
           </li>
           <li>
               <a href="/E_News/">3</a>
           </li>
           <li>
               <a href="/E_News/">4</a>
           </li>
           <li>
               <a href="/E_News/">5</a>
           </li>
           <li>
               <a href="/E_News/">Next</a>
           </li>
        </ul>
     </div>
  </div>
</div>
{% endblock %}

